<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <link rel="stylesheet" href='../styles/styles.css'/>
    <title>Main page</title>
</head>
<body>
<div class="site-header">
    <div class="site-name">CyberThreats Monitoring</div>
</div>
<div class="site-body">
    <div class="search">
        <form action="/home" method="GET">
            <input type="text" name="query" value="" class="search-bar">
            <input type="submit" value="Поиск" class="search-button">
        </form>
    </div>
    <div class="cards-list">
        {{range .items}}
            <a href="http://localhost:8080/card/{{ .ThreatId}}">
                <div class="card">
                    <div class="card__content">
                        <h3 class="card__name">{{ .Name }} </h3>
                        <div class="card_description"> {{ .Summary}}</div>
                    </div>
                    <image src="{{ .Image}}" class="card__image"></image>
                </div>
            </a>
            <form action="http://localhost:8080/card/{{ .ThreatId}}" method="post">
                <button class="card-button">Удалить услугу</button>
            </form>
        {{end}}
    </div>
</div>
</body>
</html>